﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/css/images/historia-clinica.png" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/Leaflet/leaflet.css" rel="stylesheet" />
    <script src="~/lib/Leaflet/leaflet.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="~/lib/MDB/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/MDB/css/mdb.min.css" rel="stylesheet" />
    <link href="~/lib/MDB/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2 blue-gradient">
            <div class="container d-flex justify-content-end">
                <a class="navbar-brand text-white font-weight-bold"  href="/Usuario/Index">Inicio</a>
            </div>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Usuario/Create">Crear usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Usuario/Profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Usuario/Logout">Cerrar sesión</a>
                </li>
            </ul>
        </nav>
    </header>
    <script src="~/lib/MDB/js/jquery.min.js"></script>
    <script src="~/lib/MDB/js/popper.min.js"></script>
    <script src="~/lib/MDB/js/bootstrap.min.js"></script>
    <script src="~/lib/MDB/js/mdb.min.js"></script>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site2.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
